{% include 'base.html' %}

{% block content %}
    <h1>{{ news.title }}</h1>
    <p>{{ news.article }}</p>
    <h4>{{ news.author }}</h4>
    <time datetime="{{ news.added_date }}">{{ news.added_date }}</time>
    <br>
    {% include "add_comment.html" %}

    Комментарии:
    <br>
    {% for comment in comments %}
        Автор: {{ comment.author }}
        Дата: <time datetime="{{ comment.added_date }}">{{ comment.added_date }}</time>
        <p>{{ comment.text }}</p>
        <br>
    {% endfor %}


{% endblock content %}