{% include 'base.html' %}

{% block content %}
    <h1>Список всех новостей</h1>
    {% for item_news in news %}
        <a href="{% url 'detail_news' item_news.id %}"><h2>{{ item_news.title }}</h2></a>
        <time datetime="{{ item_news.added_date }}">{{ item_news.added_date }}</time>
        <h4>{{ item_news.author }}</h4>
        <br>
    {% endfor %}
       {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/news/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/news?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}